<ion-header>
	<ion-navbar>
		<ion-title>Netpoint Admin</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
	
	<div *ngIf="searching" class="spinner-container">
		<ion-spinner></ion-spinner>
	</div>
	
	<ion-grid>
		<ion-row class="grid-header">
			<ion-col>Host</ion-col>
			<ion-col>Ip</ion-col>
			<ion-col>Hex</ion-col>
			<ion-col>MAC</ion-col>
		</ion-row>
		<ion-row *ngFor="let client of clients | async" class="grid-row">
			<ion-col>{{client.cn}}</ion-col>
			<ion-col>{{client.ipHostNumber}}</ion-col>
			<ion-col>{{client.hexIp}}</ion-col>
			<ion-col>{{client.macAddress.toString()}}</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
