page-client-list {
	.spinner-container {
		width: 100%;
		text-align: center;
		padding: 10px;
	}
	.grid-header {
		font-weight: bold;
		border-bottom: 2px solid #ccc;
		color: #888;
	}
	.grid-row {
		font-weight: normal;
		border-bottom: 1px solid #ccc;
	}
}
